<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="" th:href="@{/css/mystyle.css}"  />
</head>
<body>

	<div class="container">
		
		<img src="" class="profile" th:src="@{image/profile.png}" alt="" />
	
		<h1>adding css  , js and image in thymeleaf</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis eligendi recusandae similique incidunt consequatur animi asperiores in ipsum tempora reprehenderit quisquam sunt obcaecati voluptatem exercitationem ipsa possimus dignissimos laboriosam commodi.</p>
	</div>




<script src="" th:src="@{/js/myjs.js}"></script>
</body>
</html>